/* Define a class for the background */
.background {
    /* Use linear gradient for background */
    background: linear-gradient(to bottom, #ffffff, #f0ff8f); /* Adjust colors as needed */
    /* Add more background properties as needed */
}

.header-content {
    position: relative;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #473a3a;
    border: none;
    border-radius: 0 0 0 10px; /* Rounded corners only on the bottom left */
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Hide sidebar initially */
    width: 250px; /* Set sidebar width */
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    z-index: 999; /* Ensure sidebar appears above other content */
    transition: right 0.3s ease; /* Add transition effect */
}

.sidebar.open {
    right: 0; /* Open sidebar */
}


.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #f0f0f0; /* Background color on hover */
}