.background {
    /* Set background color, image, or any other desired properties */
    background: linear-gradient(to right, black, lightgrey);
    /* Add more background properties as needed */
}


.welcome-header {
    
    padding: 100px 0; /* Adjust padding as needed */
    text-align: center; /* Center align all text */
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-header h1 {
    font-size: 3em; /* Adjust font size as needed */
    margin-bottom: 10px;
}

.welcome-header h2 {
    font-size: 1.5em; /* Adjust font size as needed */
    color: #a5a5a5; /* Set your desired text color */
    margin-bottom: 20px;
}

.welcome-header p {
    font-size: 1.2em; /* Adjust font size as needed */
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #585858; /* Set your desired button color */
    color: #fff; /* Set your desired button text color */
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    border-radius: 5px; /* Adjust border radius as needed */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3c3c3c; /* Set your desired button hover color */
}
